* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v16_4337 {
  width: 360px;
  height: 640px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_4338 {
  width: 360px;
  height: 140px;
  background: linear-gradient(rgba(8,50,113,1), rgba(147,182,236,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_4339 {
  width: 329px;
  height: 56px;
  background: url("../images/v16_4339.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v16_4340 {
  width: 287px;
  height: 56px;
  background: url("../images/v16_4340.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_4341 {
  width: 191px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v16_4342 {
  width: 331px;
  height: 26px;
  background: url("../images/v16_4342.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 190px;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  overflow: hidden;
}
.v16_4343 {
  width: 85px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_4344 {
  width: 56px;
  height: 24px;
  background: url("../images/v16_4344.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 275px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v16_4347 {
  width: 26px;
  height: 26px;
  background: rgba(255,255,255,1);
  padding: 5px 5px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 303px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v16_4478 {
  width: 328px;
  height: 345px;
  background: url("../images/v16_4478.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 163px;
  left: 16px;
  overflow: hidden;
}
.v16_4350 {
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v16_4386 {
  width: 328px;
  height: 304px;
  background: url("../images/v16_4386.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
